<mat-card class="mt20">
    <h1 class="ml20 mt20"> Your Attempted Quizzes Record</h1>
   <!-- {{user | json}}  -->
    <mat-card-content>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col-md-1">Sr.No</th>
          <th scope="col-md-2">Quiz</th>
          <th scope="col-md-3">Category</th>
          <th scope="col-md-2">Marks Got</th>
          <th scope="col-md-3">Correct</th>
          <th scope="col-md-1">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>sd</td>
          <td>Otto</td>
          <td>sd</td>
        </tr>
       
      </tbody>
  </table>
 </mat-card-content>
</mat-card>